.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #5c5c5c;
  padding: 10px;
}

.close-modal {
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-modal:hover {
  color: #7a7a7a;
}

.modal-content {
  padding: 0;
}

.modal p + p {
  margin-top: 1rem;
}

.crop-widget-modal {
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.crop-widget-modal__img {
  display: block;
  max-width: 100%;
}

.crop-widget-modal .modal-dialog {
  background: #fff;
  color: #333;
}

.crop-widget-modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.crop-widget-modal__button {
  background: #0142db;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.crop-widget-modal__button:hover {
  background: #2868ff;
}